*{
    margin: 0px;
    padding: 0;
    font-family: "Poppins", sans-serif;;
    
}
nav{
    padding-top: 20px ;
    padding-left: 25px;
    display: flex;
    box-shadow: 1.7 grey;
    
    
   
    
    Width: auto;
     Height :85px;
     background: rgb(191, 195, 215);
}
.logo img{
    border: 0px solid;
    width: 300px;
}
 nav .social-icons{
    position: relative;
    display: flex;
    Top :10px;
    Left :870px;
    gap: 10px;
 }
 .icons{
    height: 40px ;
    width: 40px;
    border: 1px solid;
    
    border-radius: 50%;
    color: white;
    background-color: rgb(21, 124, 164);
   display: flex;
    justify-content: center;
    align-items: center;
 }
 .icons:hover{
    border: 4px solid  blue;
    cursor: pointer;
 }
 

 .heading{

   display: flex;
   justify-content: space-around;
padding-left: 10px;
padding-top: 10px;
   border: 0px solid black;
 }
 .heading h1{
color: blue;
 }
 .heading button{
   color: white;
   background-color: blue;
   border-radius: 10px;
   width: 100px;
   border: none;
   font-size: 15px;
 }
 .para-main{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .para{
  background:  rgb(191, 195, 215);
  color: black;
 
  width: 1000px;
  height: 120px;
  
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;

  border-radius:5px;
  border: 0px solid black;
  margin-top: 35px;
 }
 .para h2 {
line-height: 55px;
 }
 .box-main{
   padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
 }
 .boxes{
   padding: 10px 10px;
   border: 0px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
 }
 .box{
   border-radius: 18px;
   border: 0px solid green;
   height: 500px;
   width: 460px;
    box-shadow: 2px 2px 2px 2px grey;
 }
 .box-heading{
   background-color: black;
   height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  border: 1px solid black;
  border-radius: 18px 18px 0 0;
  color: white;
 }
 .box-heading p{
   align-items: center;
 }
 .span-div{
   
   border: 1px solid yellow;
   height: 15px;
   width: 15px;
   background-color: white;
   color: black;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .desc{
   border: 0px solid black;
   margin-top: 15px;
   margin-bottom: 15px;
   margin-left: 10px;
   margin-right: 10px;
 }
.desc span{
   font-weight: bold;
}
.img-div{
   width: 460px;
}
.img-div img{
   width: 460px;
}
.thread {
   display: flex;
   justify-content: start;
   box-shadow: 1px 1px 1px 1px grey;
   
padding: 10px 10px;
}
.thread p{
   font-size: 30px;
   padding-left: 50px;
   font-weight: 700;
   
}
.thread h1{
   font-weight: 500;
}
.subt{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;

}
.tb{
   margin-top: 20px;
   margin-left: 10px;
   margin-right: 10px;
   box-shadow: 1px 1px 1px 1px grey;
   width: 180px;
   border-radius: 10px;
  

}
 .input{
   border: none;
   border-radius: 0 0 10px 10px;
   height: 70px;
   width: 98.5%;
   
}
.input input{
   margin-left:  10px;
   border: none;
}

.th{
   
   padding-left:10px ;
   padding-top: 5px;
   display: flex;
   justify-content: start;
   height: 28px;
   font-size: small;
   background: rgb(191, 195, 215);
   border-radius: 10px 10px 0 0;
}
.new{
   display: flex;
   margin-left: 50px;
   gap: 15px;
   border: 1px solid black;
   height: 40px;

}
.new2-main{
   display: flex;
   justify-content: center;
   align-items: center;
}
.new2{
   display: flex;
   border: 1px solid black;
   font-size: 10px;
   font-weight: bold;
   justify-content: center;
   align-items: center;
   width: 100px;
}
.new1{
   display: flex;
   gap:12px;
   border: 1px solid black;
   justify-content: center;
   align-items: center;
}

 